*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    z-index: 9;
    width: 70%;
    margin: auto; 
    
}   

.brand-title{
    font-size: 1.5rem;
    margin: 0.5rem;
}

.navbar-list ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.navbar-list li{
   
    list-style-type: none;
}

.navbar-list li a{ 
text-decoration: none;
color:black;
padding: 1rem;
display: block;

}

.navbar-list li:hover{
    background-color: #555;
}

span{
    color: blue;
}


.main-photo{
    position: relative;
    margin-top: -1.5rem;
    width: 100%;
    height: auto;
}

.grid-gallery{
    
    display: grid;
    position: relative;
    top: -600px;
    z-index: 2;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    gap: 10px;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 100%;
    height: auto;
    grid-template-areas: 
    "one two three"
    "four five six"
    ;
}

@media screen and (max-width:1000px){
    .grid-gallery{
    
        display: grid;
        position: relative;
        top: -300px;
        z-index: 5;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100px 100px;
        gap: 10px;
        margin-left: 50px;
        margin-right: 50px;
        max-width: 100%;
        height: auto;
        grid-template-areas: 
        "one two three"
        "four five six"
        ;
    }
    
}

@media screen and (max-width:650px){
    .grid-gallery{
    
        display: grid;
        position: relative;
        top: -300px;
        z-index: 5;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 100px 100px;
        gap: 10px;
        margin-left: 50px;
        margin-right: 50px;
        max-width: 100%;
        height: auto;
        grid-template-areas: 
        "one two three"
        "four five six"
        ;
    }
    
}

@media screen and (max-width:450px){
    .grid-gallery{
    
        display: grid;
        position: relative;
        top: -200px;
        z-index: 5;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 50px;
        gap: 10px;
        margin-left: 50px;
        margin-right: 50px;
        max-width: 100%;
        height: auto;
        grid-template-areas: 
        "one two three"
        "four five six"
        ;
    }
    
}
@media screen and (max-width:300px){
    .grid-gallery{
    
        display: grid;
        position: relative;
        top: -150px;
        z-index: 5;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 30px 30px;
        gap: 10px;
        margin-left: 50px;
        margin-right: 50px;
        max-width: 100%;
        height: auto;
        grid-template-areas: 
        "one two three"
        "four five six"
        ;
    }
    
}

.one{
   
    grid-area: one;
    background-image: url(/img/grid-one.jpeg);
    background-position: center;
       background-size: cover;
}
.two{
    grid-area: two;
    background-image: url(/img/grid-one.jpeg);
    background-position: center;
    background-size: cover;
}
.three{
    grid-area: three;
    background-image: url(/img/grid-one.jpeg);
    background-position: center;
    background-size: cover;
}
.four{
    grid-area: four;
    background-image: url(/img/grid-one.jpeg);
    background-position: center;
    background-size: cover;
}
.five{
    grid-area: five;
    background-image: url(/img/grid-one.jpeg);
    background-position: center;
    background-size: cover;
}
.six{
    grid-area: six;
    background-image: url(/img/grid-one.jpeg);
    background-position: center;
    background-size: cover;
}


.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: blue;
    border-radius: 10px;
}

@media  (max-width: 400px){
    .toggle-button{
        display: flex;
    }
    .navbar-list{
        display: none;
        width: 100%;
}

.navbar{
    flex-direction: column;
    align-items: flex-start;
}

.navbar-list ul{
    width: 100%;
    flex-direction: column;
}

.navbar-list li{
    text-align: center;
}

.navbar-list li a{
    padding: .5rem 1rem;
}


.navbar-list.active{
    display: flex;
}
}


    
