body{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 4;
}

/* ul h1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
}

ul{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 60px;
    border: 1px solid red;
    gap: 30px;
    list-style-type: none;
    align-items: center;
    justify-content: flex-end;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
} */

.left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 90px;
    width: 500px;
    /* border: 1px solid red; */
    list-style-type: none;
    align-items: center;
    justify-content: flex-start;
    font-size: 30px;
    background-color: white;
}

.right {
    display: flex;
    position: relative;
    top: 10px;
    flex-direction: row;
    justify-content: flex-end;
    height: 90px;
    width: 400px;
    /* border: 1px solid red; */
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    background-color: white;
}

span{
    color: blue;
}

.main-photo{
    position: relative;
    top: -60px;
    z-index: 3;
}

.grid-gallery{
    display: grid;
    position: relative;
    top: -600px;
    z-index: 5;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    gap: 10px;
    margin-left: 50px;
    margin-right: 50px;
    grid-template-areas: 
    "one two three"
    "four five six"
    ;
}

.one{
   
    grid-area: one;
    background-image: url(/img/grid-one.jpeg);
}
.two{
    grid-area: two;
    background-image: url(/img/grid-one.jpeg);
}
.three{
    grid-area: three;
    background-image: url(/img/grid-one.jpeg);
}
.four{
    grid-area: four;
    background-image: url(/img/grid-one.jpeg);
}
.five{
    grid-area: five;
    background-image: url(/img/grid-one.jpeg);
}
.six{
    grid-area: six;
    background-image: url(/img/grid-one.jpeg);
}
